section{
    height: 100vh;
}
.sc-card{
    padding: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0px #c1c1c16e;
    margin: 0 0 30px;
}
.inner-left-menu {
    background: #2672ff;
    padding: 15px 0 15px 15px;
    width: 30%;
    margin-right: 10px;
    border-radius: 25px;
}
.nav-link.active {
    background-color: #fff !important;
    color: black !important;
    font-weight: 500;
}

.inner-left-menu .nav-link {
    color: white;
    margin-bottom: 5px;
    border-radius: 15px 0 0 15px!important;
    margin-right: -16px;
}

.nav-link:hover{
    color: black !important;
    background-color: white !important;
    border-radius: 15px !important;
    margin-right: 0;
}

.content-page{
    margin-left: 5px;
    overflow: hidden;
    padding: 0px;
    min-height: 100%;
    margin-top: 50px;
    transition: all 0.2s ease 0s;
    position: relative;
    flex-basis: calc(100% - 250px);
}
/* Footer */

.footer{
position: absolute;
padding:100px 150px;
background: rgba(0, 0, 0, 0.931);
overflow: hidden;
}
.bot-lineFq2{
position: absolute;
top: 37%;
width: 70px;
height: 6px;
border-radius: 5px;
background-color: #2672ff;
}

.aboutus{
margin-left: 100px;
}

.aboutus h2{
font-family: "Merienda", cursive;
font-weight: 600;
font-size: 42px;
color: white;
}

.aboutus p{
font-size: 15px;
margin: 20px 0;
text-align: justify;
color: white;
}

.social-icons ul{
margin-top: 20px;
display: flex;
}

.social-icons ul li{
list-style: none; 
}

.social-icons ul li a{
display: inline-block;
width: 40px;
height: 40px;
color: white;
background-color: #222;
margin-right: 10px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
border-radius: 5px;
transition: 0.5s;
}

.facebook:hover{
background-color:#385898;
transition: 0.8s;
}
.instagram:hover{
background: linear-gradient(60deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
transition: 0.8s;
}
.twitter:hover{
background-color: skyblue;
transition: 0.8s;
}
.github:hover{
background-color:#6e5494 ;
transition: 0.8s;
}

.quick-links{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.quick-links h2{
font-family: "Merienda", cursive;
font-weight: 600;
font-size: 40px;
color: white;
}

.quick-links ul li{
list-style: none;
}

.quick-links ul li a{
text-decoration: none;
color: white;
line-height: 30px;
}

.quick-links ul li a:before {
content: "";
position: absolute;
width: 0;
height: 25px;
background-color: #2672ff;
transition: all ease 0.5s;
z-index: -1;
}

.quick-links ul li a:hover:before {
width: 70px;
}

.contactus{
display: flex;
justify-content: center;
align-items: center;
}

.contactus img{
width: 400px;
}

.foot-bottom{
position: absolute;
bottom: 0;
background-color: black;
color: white;
padding:15px 5px 5px 5px;
text-align: center;
}

.foot-bottom:hover{
color: #2672ff;
transition: 0.3s;
}