.left-sidebar{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100px;
    height: 100%;
    z-index: 9;
    background-color: white;
    border-right: 1px solid gray;
    padding: 50px 40px;
}

.toggle{
    display: block;
    width: 25px;
    cursor: pointer;
}

.toggle span{
    width: 25px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 0 0 4px;
}

.social{
    position: absolute;
    transform: rotate(-90deg);
    display: flex;
    left: -120px;
    bottom: 160px;
    width: 360px;
    height: 100px;
    line-height: 100px;
}
.social a{
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500px;
    margin: 0 15px;
}

.logo{
    display: flex;
    width: 100px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 40px;
}

.login-btn img{
    height: 30px;
    width: 30px;
}

header{
    width: calc(100% - 100px);
    margin-left: 100px;
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 30px;
}

.page-header{
    list-style-type: none;
    display: inline-block;
}

.page-header:last-child{
    margin-right: 0px;
}
.page-header a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 500;
    position: relative;
}

.page-header a:before,
.nav-toggle ul li a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(24, 253, 146);
    transition: all ease 0.5s;
    z-index: -1;
}

.page-header a:hover:before,
.nav-toggle ul li a:hover:before{
    width: 100%;
}

.nav-toggle{
    position: fixed;
    top: 0%;
    left: -100%;
    width: calc(100% - 100px);
    height: 100%;
    background-color: white;
    margin-left: 100px;
    z-index: 8;
    overflow-y: auto;
    transition: all ease 0.5s;
} 

.nav-toggle ul li{
    list-style: none;
    display: block;
}

.nav-toggle ul li a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 55px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin: 30px 100px;
}
.nav-toggle.open{
    left: 0;
}

@media only screen and (max-width: 768px){
    .left-sidebar{
        position: fixed;
        padding: 10px 20px;
        height: 100%;
        top: 0%;
        left: 0%;
        width: 60px;
    }

    .social{
        left: -150px;
        bottom: 160px;
    }

    .nav-toggle ul li a{
        margin: 15px 50px;
        font-size: 30px;
    
    }

    .nav-toggle{
        padding-top: 40px;
    }

    nav{
        padding: 5px 10px;
        margin: 0 15px;
    }

    .page-header{
        display: none;
    }

    .logo{
        width: 800px;
        font-size: 20px;
        font-weight: 500;
        
    }
    .logo img{
        width: 25px;
        height: 25px;
    }
    
    .login-btn img{
        height: 20px;
        width: 20px;
    }
}