/* left Sidebar */

.left-sidebar{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100px;
    height: 100%;
    z-index: 9;
    background-color:rgb(214, 214, 214);
    /* border-right: 1px solid gray; */
    padding: 50px 40px;
    box-shadow: 4px 0 9px -3px rgb(163, 163, 163);
}

/* menu button */

.toggle{
    display: block;
    width: 25px;
    cursor: pointer;
}

.toggle span{
    width: 25px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 0 0 4px;
}

/* social links */

.social{
    position: absolute;
    transform: rotate(-90deg);
    display: flex;
    left: -120px;
    bottom: 160px;
    width: 360px;
    height: 100px;
    line-height: 100px;
}
.social a{
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500px;
    margin: 0 15px;
}

/* Logo */

.logo{
    display: flex;
    width: 100px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 40px;
}

/* Login button */

.login-btn i{
    font-size: xx-large;
    color: red;
}

.login-btn i:hover{
    color: green;
    text-shadow: 1px 2px 20px rgb(0, 247, 0);
    text-shadow: 1px 3px 25px rgb(0, 247, 0);
    text-shadow: 1px 4px 30px rgb(0, 247, 0);

}

/* sign in and sign up form */

#blur.formActive{
    filter: blur(6px);
    pointer-events: none;
    user-select: none;
}

.form-container{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}

.signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
}

#formPopup.formActive{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form.signin-form{
    z-index: 2;
}

form.signup-form{
    z-index: 1;
    opacity: 0;
}

.tittle{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: rgba(224, 224, 224, 0.877);
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: gray;
}

.input-field input:placeholder{
    color: #acacac;
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #ffe100;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition:  0.5s;
}

.btn:hover{
    background-color: rgb(240, 216, 0);
}

.social-text{
    padding: .7rem 0;
    font-size: 1rem;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 46px;
    width: 46px;
    border: 1px solide rgb(0, 0, 0);
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    border-radius: 50%;
}

.social-icon:hover{
    background-color: rgb(240, 216, 0);
    color: black;
}

header{
    width: calc(100% - 100px);
    margin-left: 100px;
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: black;
    color: white;
}

/* page heading */

.page-header{
    list-style-type: none;
    display: inline-block;
}

.page-header:last-child{
    margin-right: 0px;
}
.page-header a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    z-index: 9;
}

.page-header a:before,
.nav-toggle ul li a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgba(108, 1, 248, 0.76);
    transition: all ease 0.5s;
    z-index: -1;
}

.page-header a:hover:before,
.nav-toggle ul li a:hover:before{
    width: 100%;
    
}

/* navigation bar links */

.nav-toggle{
    position: fixed;
    top: 0%;
    left: -100%;
    width: calc(100% - 100px);
    height: 100%;
    background-color: white;
    margin-left: 100px;
    z-index: 999;
    overflow-y: auto;
    transition: all ease 0.5s;
} 

.nav-toggle ul li{
    text-align: center;
    list-style: none;
    display: block;
    margin-top: 1%;
}

.nav-toggle ul li a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin: 30px 100px;
}
.nav-toggle.open{
    left: 0;
}



/* responsive style */

@media only screen and (max-width: 768px){
    .left-sidebar{
        position: absolute;
        padding: 10px 20px;
        height: 100%;
        top: 0%;
        left: 0%;
        width: 60px;
    }

    .social{
        left: -150px;
        bottom: 160px;
    }

    .nav-toggle ul li a{
        margin: 15px 50px;
        font-size: 30px;
    
    }

    .nav-toggle{
        padding-top: 40px;
        width: calc(100% - 50px);
        margin-left: 50px;

    }

    header{
        width: auto;
        margin-left: 60px;

    }

    nav{
        padding: 5px 30px;

    }

    .page-header{
        display: none;
    }

    .logo{
        width: 100px;
        font-size: 20px;
        font-weight: 500;
        
    }
    .logo img{
        width: 25px;
        height: 25px;
    }
    
    .login-btn img{
        height: 20px;
        width: 20px;
        color: black;
    }
}