/* Practical Page Style Start */

section{
  position: relative;
  height: 100vh;
  overflow: hidden;
  }
  
 .custom-menu{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 60px 120px;
  margin: 50px;
}
.menu-box{
  position: relative;
  width: 1200px;
  height: 500px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  perspective: 500px;
  transition: background 0.25s;
}


.line1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu1,.menu2,.menu3{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  margin: 5px 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.8s;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu1{
  background-color: #97ff77;
}
.menu2{
  background-color: #fff788;
}
.menu3{
  background-color: #9fc1ff;
}
.btnB {
  border: 2px solid black;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px 0;
  transition: 0.8s;
  padding: 10px 20px;
}

.btnB:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.line1 div::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(0,calc(0 + 100px));
  font-size: 150px;
  text-transform: uppercase;
  pointer-events: none;
  font-weight: 900;
  transition: 0.5s;
  opacity: 1;
}

.line1 div:hover:before{
  opacity: 0.2;
  transform: translate(-50%,calc(100% + 190px));
}
.menu1 .bioDes,.menu2 .phyDes,.menu3 .cheDes{
  opacity: 0;
}
.menu1:hover,.menu2:hover,.menu3:hover{
  overflow: visible;
  width: 400px;
  height: 400px;
  /* transform: scale(2.1); */
}

.menu1:hover .bioDes,.menu2:hover .phyDes,.menu3:hover .cheDes{
  opacity: 1;
  font-size: 15px;
  color: black;
  text-align: justify;
  font-weight: 400;
  transition: 0.8s;
}

.bioHead,.phyHead,.cheHead{
  position: absolute;
  font-size: 130px;
  font-weight: 900;
  text-transform: uppercase;
  left: -80%;
  top: 30%;
  opacity: 0;
  transform: rotate(-90deg) translate(0, -280%);
}

.menu1:hover .bioHead{
  transform: rotate(-90deg) translate(0, -150%);
  top: 30%;
  left: -80%;
  text-shadow: 0 30px 15px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.menu2:hover .phyHead{
  transform: rotate(-90deg) translate(0, -280%);
  top: 30%;
  left: -80%;
  text-shadow: 0 30px 15px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.menu3:hover .cheHead{
  transform: rotate(-90deg) translate(0, -480%);
  top: 40%;
  left: -80%;
  text-shadow: 0 30px 15px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

  /* Footer */
  
  .footer{
    position: absolute;
    padding:100px 150px;
    background: rgba(0, 0, 0, 0.931);
    overflow: hidden;
  }
  .bot-lineFq2{
    position: absolute;
    top: 37%;
    width: 70px;
    height: 6px;
    border-radius: 5px;
    background-color: #2672ff;
  }
  
  .aboutus{
    margin-left: 100px;
  }
  
  .aboutus h2{
    font-family: "Merienda", cursive;
    font-weight: 600;
    font-size: 42px;
    color: white;
  }
  
  .aboutus p{
    font-size: 15px;
    margin: 20px 0;
    text-align: justify;
    color: white;
  }
  
  .social-icons ul{
    margin-top: 20px;
    display: flex;
  }
  
  .social-icons ul li{
    list-style: none; 
  }
  
  .social-icons ul li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #222;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
  }
  
  .facebook:hover{
    background-color:#385898;
    transition: 0.8s;
  }
  .instagram:hover{
    background: linear-gradient(60deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    transition: 0.8s;
  }
  .twitter:hover{
    background-color: skyblue;
    transition: 0.8s;
  }
  .github:hover{
    background-color:#6e5494 ;
    transition: 0.8s;
  }
  
  .quick-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .quick-links h2{
    font-family: "Merienda", cursive;
    font-weight: 600;
    font-size: 40px;
    color: white;
  }
  
  .quick-links ul li{
    list-style: none;
  }
  
  .quick-links ul li a{
    text-decoration: none;
    color: white;
    line-height: 30px;
  }
  
  .quick-links ul li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 25px;
    background-color: #2672ff;
    transition: all ease 0.5s;
    z-index: -1;
  }
  
  .quick-links ul li a:hover:before {
    width: 70px;
  }
  
  .contactus{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contactus img{
    width: 400px;
  }
  
  .foot-bottom{
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    padding:15px 5px 5px 5px;
    text-align: center;
  }
  
  .foot-bottom:hover{
    color: #2672ff;
    transition: 0.3s;
  }