/* responsive style */

/* Home Page */

@media(max-width: 1550px){
  .main-footer{
    margin: -16% 0 0;
  }
}

@media(max-width: 1500px){
  .main-footer{
    margin: -16% 0 0;
  }
}

@media(max-width: 1450px){
  .labtools{
    margin: -17% 0 0;
  }
  .main-footer{
    margin: -17% 0 0;
    clip-path: polygon(0 0, 100% 37%, 100% 100%, 0 100%);

  }
}
@media (max-width:1400px){
  .labtools{
    margin: -18% 0 0;
  }
  .main-footer{
    margin: -18% 0 0;
    clip-path: polygon(0 0, 100% 35%, 100% 100%, 0 100%);

  }
}

@media (max-width:1300px){
  .labtools{
    margin: -19% 0 0;
  }
  .main-footer{
    margin: -19% 0 0;
    clip-path: polygon(0 0, 100% 35%, 100% 100%, 0 100%);

  }
}

@media (max-width:1250px){
  .labtools{
    margin: -20% 0 0;
  }
  .main-footer{
    margin: -20% 0 0;
    clip-path: polygon(0 0, 100% 33%, 100% 100%, 0 100%);

  }
}


@media (max-width:1200px){
  .home-section{
    clip-path: none;
  }
  .practicals{
    clip-path: none;
  }
  .glossary{
    position: relative;
    clip-path: none;
    height: 100%;
    padding: 2% 0 0;
  }
  .glossary .left-sec{
    position: relative;
    margin-left: 20px;
    z-index: 9;
  }

  .glossary .img-right{
    text-align: right;
    width: 900px;
    transform: translateY(20%);
    z-index: 9;
  }
  .img-right:hover{
    transform: translate(0px, 0%);
  }
  .glossary .scroll-box{
    bottom: 5%;
    z-index: 9;
  }

  .overlay{
    z-index: 1;
  }

  .labtools{
    clip-path: none;
    margin: 0%;
  }
  .labtools .scroll-box{
    bottom: 5%;
    z-index: 9;
  }
  .labtools .right-sec{
    position: relative;
    z-index: 9;
  }
  .labtools .atom-box{
    position: relative;
    z-index: 9;
  }
  .main-footer{
    clip-path: none;
    margin: 0%;
    padding: 50px 20px;
  }
  .main-footer .aboutus{
    margin-left: 20px;
  }
  .main-footer .quick-links{
    margin-left: 40px;
  }
  .quick-links h2{
    margin-bottom: 0;
    font-size: 30px;
  }
  .quick-links ul{
    padding: 0;
  }
  .bot-lineFq{
    top: 33%;
  }
  .quick-links ul li a {
    z-index: 2;
  }
  .quick-links ul li a:before {
    z-index: 1;
  }
}


@media (max-width: 990px) {
    .left-sidebar {
      position: absolute;
      padding: 15px;
      height: 100%;
      top: 0%;
      left: 0%;
      width: 60px;
    }
  
    .social {
      left: -150px;
      bottom: 160px;
    }
  
    .nav-toggle ul li a {
      margin: 15px 50px;
      font-size: 30px;
    }
  
    .nav-toggle {
      padding-top: 30px;
      width: calc(100% - 50px);
      margin-left: 50px;
    }
  
    header {
      width: auto;
      margin-left: 60px;
    }
  
    nav {
      padding: 5px 30px;
    }
  
    .page-header {
      display: none;
    }
  
    .logo {
      width: 100px;
      font-size: 20px;
      font-weight: 500;
    }
    .logo img {
      width: 25px;
      height: 25px;
    }
  
    .login-btn img {
      height: 20px;
      width: 20px;
      color: black;
    }
  }