@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
/* font-family: 'Merienda', cursive; */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

/* header section */

.home-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-section .row {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0 20px;
  white-space: nowrap;
  font-size: 55px;
  transform: rotate(-30deg);
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  line-height: 2;
}

.home-section i {
  color: white;
  text-shadow: 0 3px 6px grey;
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
  margin: 5px;
}

.home-section i:hover {
  color: rgb(16, 239, 255);
  text-shadow: 0 0 120px rgb(16, 239, 255);
  transition: 0s;
}

/* Practicals section */

.practicals {
  position: relative;
  padding: 100px 0;
}

.row {
  align-items: center;
}

.biology {
  background: url(../images/biology-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.physics {
  background: url(../images/physics-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.chemistry {
  background: url(../images/chemisty\ bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
/* .slider-content.bg-b .biology {
  opacity: 1;
  visibility: visible;
}
.slider-content.bg-b .physics,
.chemistry {
  opacity: 0;
  visibility: 0;
} */
/* .bg-p .biology,
.chemistry {
  opacity: 0;
  visibility: 0;
}
.bg-c .physics,
.biology {
  opacity: 0;
  visibility: 0;
} */

.slick-slide {
  outline: none;
}
.slick-prev,
.slick-next {
  top: 110%;
}
.slider {
  margin: 30px auto 35px;
}
.slider-content {
  padding: 30px 0 0 30px;
}
.slick-next {
  right: 22%;
}
.slick-prev {
  left: unset;
  right: 28%;
}
.slick-next.slick-disabled {
  opacity: 1 !important;
}
.slick-prev:before,
.slick-next:before {
  opacity: 1;
}
.slick-prev:before {
  content: "";
  background: url(../images/prev.png);
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100px;
  height: 100px;
}
.slick-next:before {
  content: "";
  background: url(../images/next.png);
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.progress {
  display: block;
  width: 80%;
  height: 4px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f5f5f5;
  background-image: linear-gradient(to right, #2672ff, #2672ff);
  background-repeat: no-repeat;
  background-size: 0% 80%;
  transition: background-size 0.4s ease-in-out;
}
.progress-bar-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 0 0 30px;
}
span.count-left {
  color: black;
  margin-right: 10px;
}
span.count-right {
  color: black;
  margin-left: 10px;
}

.left-sec {
  padding: 5px 0 5px 45px;
}

.left-sec img {
  width: 100%;
  /* box-shadow: 0 3px 9px gray;
  border-radius: 25px; */
}

.right-sec {
  padding: 5px 25px 5px 25px;
}

.right-sec p {
  color: white;
  margin-bottom: 15px;
  font-weight: 400;
  text-align: justify;
}

.right-sec h2 {
  font-family: "Merienda", cursive;
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 25px;
  padding-bottom: 30px;
  position: relative;
  color: white;
}

.right-sec h2::after {
  content: "";
  width: 110px;
  height: 6px;
  display: block;
  border-radius: 25px;
  background-color: #2672ff;
  position: absolute;
  left: -25px;
  bottom: 0;
}
