@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
/* font-family: 'Merienda', cursive; */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* header section */

.home-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 55% 100%, 0 85%);
}

.home-section .icons-box {
  position: relative;
  width: 100%;
  display: flex;
  white-space: nowrap;
  font-size: 55px;
  justify-content: center;
  left: -25%;
  top: -25%;
  transform: rotate(-30deg);
  text-align: center;
  line-height: 2;
  overflow-wrap: normal;
}

.home-section i {
  color: white;
  text-shadow: 0 3px 6px grey;
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
  margin: 5px;
}

.home-section i:hover {
  color: rgb(16, 239, 255);
  text-shadow: 0 0 120px rgb(16, 239, 255);
  transition: 0s;
}

.welcomebox {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 30%;
  justify-content: center;
  align-items: center;
}
.wel-head,.welcomeHead{
  opacity: 0;
}
.welcomebox h1 {
  font-family: "Merienda", cursive;
  font-weight: 900;
  font-size: 100px;
  color: black;
  transition: 0.5s;
}
.welcomebox h2 {
  font-family: "Merienda", cursive;
  font-weight: 600;
  font-size: 52px;
  color: black;
  transition: 0.5s;
}
.welcomebox h1:hover,
.welcomebox h2:hover {
  color: #2672ff;
  transition: 0.5s;
}

/* Practicals section */

.practicals {
  position: relative;
  margin:-35% 0 0;
  overflow: hidden;
  padding: 5% 0 20%;
  height: 100vh;
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);

}

.banner1, .banner2, .banner3{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  overflow: hidden;
}
.banner1 img, .banner2 img, .banner3 img{
  width: 120%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(5px) grayscale(0.3);
  animation: zoomOut 6s linear infinite;
}

.banner-text{
  position: absolute;
  width: 600px;
  color: white;
}

.bot-line{
  position: absolute;
  left: 42%;
  width: 100px;
  height: 6px;
  border-radius: 5px;
  background-color: #2672ff;
}
.bot-line-w{
  position: absolute;
  left: 42%;
  width: 100px;
  height: 6px;
  border-radius: 5px;
  background-color: white;
}

.banner-text h2{
  font-family: 'Merienda', cursive;
  margin-bottom: 40px;
  font-size: 75px;
  text-align: center;
}
.banner-text p{
  font-size: 24px;
  line-height: 30px;
  margin-top: 80px;
  text-align: center;
}

.banner1{ 
  animation: slide1 18s linear infinite;
}
.banner2{ 
  animation: slide2 18s linear infinite;
}
.banner3{ 
  animation: slide3 18s linear infinite;
}

.scroll-down-btn{
  position: absolute;
  left: 48%;
  bottom: 45%;
  width: 50px;
  height: 50px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scroll-down-btn span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  animation: scrollIndicatorDown 1.5s linear infinite;
  opacity: 0;
  cursor: pointer;
}

.scroll-down-btn span:nth-child(1){
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}
.scroll-down-btn span:nth-child(2){
  transform: translate(0,0);
  animation-delay: -0.2s;

}
.scroll-down-btn span:nth-child(3){
  transform: translate(15px, 15px);
  animation-delay: 0;

}

.practicals .scroll-down-btn{
  left: 50%;
  bottom: 5%;
}

.practicals .scroll-down-btn span{
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}

/* Glossary Section */

.glossary{
  position: relative;
  overflow: hidden;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  padding: 8% 0 20%;
  background:url(../images/glossary-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000075;
  z-index: -1;
}

.row {
  align-items: center;
}

.left-sec{
  padding: 10px;
  margin-left: 60px;
}
.left-sec h2{
  font-family: 'Merienda', cursive;
  font-size: 90px;
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
}

.left-sec p{
  font-size: 25px;
  margin: 20px 0;
  text-align: justify;
  color: white;
}

.glossary .img-right{
  text-align: right;
}

.img-right{
  position: relative;
  right: 25%;
  transform: translate(0px, 10%);
  transition: 0.8s ease;
  height: 700px;
}

.img-right:hover{
  transform: translate(0px, -5%);
}

/* Lab Tools Section */

.labtools{
  position: relative;
  background: url(../images/lab-bg.jfif) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 75%);
  padding: 10% 0 16%;
  margin: -17% 0 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
}

.right-sec{
  padding: 10px;
  margin-right: 20px;
}

.right-sec h2{
  font-family: 'Merienda', cursive;
  font-size: 70px;
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
}

.right-sec p{
  font-size: 25px;
  margin: 20px 0;
  text-align: justify;
  color: white;
}

.atom-box{
  position: relative;
  left: 18%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple{
  width: 90px;
  height: 90px;
}

.atom-1 {
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 100%;
  background-color: transparent;
  transform: rotateZ(0deg) rotateY(-73deg);
  border: 10px dotted black;
  animation: spin 5s linear infinite;
}


/* .atom-1:before{
	content:"";
  width:22px;
  height:22px;
  border-radius:50px;
  background:black;
  position:absolute;
}
.atom-2:before{
  content:"";
  width:22px;
  height:22px;
  border-radius:50px;
  background:blue;
  position:absolute;
}

.atom-3:before{
  content:"";
  width:22px;
  height:22px;
  border-radius:50px;
  background:red;
  position:absolute;
} */
.atom-2 {
  background-color: transparent;
  position: absolute;
  transform: rotateZ(-60deg) rotateY(73deg);
  width: 280px;
  height: 280px;
  border-radius: 100%;
  border: 10px dotted blue;
  animation: spin1 5s linear infinite;
}
.atom-3 {
  background-color: transparent;
  transform: rotateZ(60deg) rotateY(-73deg);
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 100%;
  border: 10px dotted red;
  animation: spin2 5s linear infinite;
}

/* Footer */

footer{
  position: relative;
  padding: 10% 0 20%;
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
  background: rgba(0, 0, 0, 0.801);
  height: 100vh;
  margin: -18% 0 0;
}

.foot-bottom{
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}

/* Scroll Indicator */

@keyframes scrollIndicatorDown {
  0%{
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25%{
    top: 0;
    left: 0;
    opacity: 1;
  }
  50%,100%{
    top:  5px;
    left: 5px;
    opacity: 0;
  }
}

/* Practical Slider */

@keyframes slide1{
  0%{
    visibility: visible;
  }

  25%{
    visibility: hidden;
  }
  
  50%{
    visibility: hidden;
  }
  75%{
    visibility: hidden;
  }
  
  100%{
    visibility: visible;
  }
}
@keyframes slide2{
  0%{
    visibility: hidden;
  }
  
  25%{
    visibility: hidden;
  }

  50%{
    visibility: visible;
  }

  75%{
    visibility: hidden;
  }
  
  100%{
    visibility: hidden;
  }
}
@keyframes slide3{
  0%{
    visibility: hidden;
  }

  25%{
    visibility: visible;
  }
  
  50%{
    visibility: hidden;
  }
  75%{
    visibility: hidden;
  }
  
  100%{
    visibility: hidden;
  }
}

@keyframes zoomOut {
  100%{
    width: 100%;
  }
}

/* Atom Spin Animation */

@keyframes spin{
	0%{
  		transform: rotateZ(0deg) rotateY(-73deg) rotateX(0deg) rotate(0deg);
    }
    100%{
  		transform: rotateZ(0deg) rotateY(-73deg) rotateX(0deg) rotate(360deg);
    }
}

@keyframes spin1{
	0%{
  		transform: rotateZ(-60deg) rotateY(73deg) rotateX(0deg) rotate(0deg);
    }
    100%{
  		transform: rotateZ(-60deg) rotateY(73deg) rotateX(0deg) rotate(360deg);
    }
}
@keyframes spin2{
	0%{
  		transform: rotateZ(60deg) rotateY(-73deg) rotateX(0deg) rotate(0deg);
    }
    100%{
  		transform: rotateZ(60deg) rotateY(-73deg) rotateX(0deg) rotate(360deg);
    }
}