@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
/* font-family: 'Merienda', cursive; */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

/* header section */

.home-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 55% 100%, 0 85%);
}

.home-section .icons-box {
  position: relative;
  width: 100%;
  display: flex;
  white-space: nowrap;
  font-size: 55px;
  justify-content: center;
  left: -25%;
  top: -25%;
  transform: rotate(-30deg);
  text-align: center;
  line-height: 2;
  overflow-wrap: normal;
}

.home-section i {
  color: white;
  text-shadow: 0 3px 6px grey;
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
  margin: 5px;
}

.home-section i:hover {
  color: rgb(16, 239, 255);
  text-shadow: 0 0 120px rgb(16, 239, 255);
  transition: 0s;
}

.welcomebox {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* width: 100%;
  height: 100vh; */
  top: 20%;
  left: 35%;
  justify-content: center;
  align-items: center;
}
.wel-head,.welcomeHead{
  opacity: 0;
}
.welcomebox h1 {
  font-family: "Merienda", cursive;
  font-weight: 900;
  font-size: 100px;
  color: black;
  transition: 0.5s;
}
.welcomebox h2 {
  font-family: "Merienda", cursive;
  font-weight: 600;
  font-size: 52px;
  color: black;
  transition: 0.5s;
}
.welcomebox h1:hover,
.welcomebox h2:hover {
  color: #2672ff;
  transition: 0.5s;
}

/* Practicals section */

.practicals {
  position: relative;
  margin:-35% 0 0;
  overflow: hidden;
  padding: 5% 0 20%;
  height: 100vh;
  clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);

}

.row {
  align-items: center;
}

.banner1, .banner2, .banner3{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}
.banner1 img, .banner2 img{
  width: 120%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(5px) grayscale(0.3);
  animation: zoomOut 4s linear infinite;
}
.banner3 img{
  width: 130%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(5px) grayscale(0.3);
  animation: zoomOut 4s linear infinite;
}

.banner-text{
  position: absolute;
  top: 350px;
  left: 100px;
  width: 600px;
}

.bio,.phy{
  color: white;
}
.chem{
  color: black;
}

.bot-line{
  position: absolute;
  left: 0;
  width: 100px;
  height: 6px;
  border-radius: 5px;
  background-color: #2672ff;
}
.bot-line-w{
  position: absolute;
  left: 0;
  width: 100px;
  height: 6px;
  border-radius: 5px;
  background-color: white;
}
.bot-line-b{
  position: absolute;
  left: 0;
  width: 100px;
  height: 6px;
  border-radius: 5px;
  background-color: black;
}

.banner-text h2{
  font-family: 'Merienda', cursive;
  margin-bottom: 40px;
  font-size: 75px;
}
.banner-text p{
  font-size: 24px;
  line-height: 30px;
  margin-top: 80px;
  text-align: justify;
}

.banner1{ 
  animation: slide1 12s linear infinite;
}
.banner2{ 
  animation: slide2 12s linear infinite;
}
.banner3{ 
  animation: slide3 12s linear infinite;
}

@keyframes slide1{
  0%{
    visibility: visible;
  }

  25%{
    visibility: hidden;
  }
  
  50%{
    visibility: hidden;
  }
  75%{
    visibility: hidden;
  }
  
  100%{
    visibility: visible;
  }
}
@keyframes slide2{
  0%{
    visibility: hidden;
  }
  
  25%{
    visibility: hidden;
  }

  50%{
    visibility: visible;
  }

  75%{
    visibility: hidden;
  }
  
  100%{
    visibility: hidden;
  }
}
@keyframes slide3{
  0%{
    visibility: hidden;
  }

  25%{
    visibility: visible;
  }
  
  50%{
    visibility: hidden;
  }
  75%{
    visibility: hidden;
  }
  
  100%{
    visibility: hidden;
  }
}

@keyframes zoomOut {
  100%{
    width: 100%;
  }
}

/* .slick-slide {
  outline: none;
}
.slick-prev,
.slick-next {
  top: 110%;
}
.slider {
  margin: 30px auto 35px;
}
.slider-content {
  padding: 30px 0 0 30px;
}
.slick-next {
  right: 22%;
}
.slick-prev {
  left: unset;
  right: 28%;
}
.slick-next.slick-disabled {
  opacity: 1 !important;
}
.slick-prev:before,
.slick-next:before {
  opacity: 1;
}
.slick-prev:before {
  content: "";
  background: url(../images/prev.png);
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100px;
  height: 100px;
}
.slick-next:before {
  content: "";
  background: url(../images/next.png);
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.progress {
  display: block;
  width: 80%;
  height: 4px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f5f5f5;
  background-image: linear-gradient(to right, #2672ff, #2672ff);
  background-repeat: no-repeat;
  background-size: 0% 80%;
  transition: background-size 0.4s ease-in-out;
}
.progress-bar-main {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 40%;
  margin: 0 0 0 0px;
  position: absolute;
  right: 0;
}
span.count-left {
  color: white;
  font-weight: 800;
  font-size: 20px;
  margin-right: 10px;
  text-shadow: 2px 3px 3px black;
}
span.count-right {
  color: white;
  margin-left: 10px;
  font-weight: 800;
  font-size: 20px;
  text-shadow: 2px 3px 3px black;
}

.left-sec {
  padding: 5px 0 5px 45px;
}

.left-sec img {
  width: 600px;
  height: 600px;
  filter: drop-shadow(0 3px 9px black);
  box-shadow: 0 3px 9px gray;
  border-radius: 25px;
}

.right-sec {
  padding: 5px 25px 5px 15px;
}

.right-sec p {
  color: white;
  margin-bottom: 15px;
  font-weight: 400;
  text-align: justify;
}

.right-sec h2 {
  font-family: "Merienda", cursive;
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 25px;
  padding-bottom: 30px;
  position: relative;
  color: white;
  text-shadow: 3px 6px 12px black;
}

.right-sec h2::after {
  content: "";
  width: 110px;
  height: 6px;
  display: block;
  border-radius: 25px;
  background-color: #2672ff;
  position: absolute;
  left: -25px;
  bottom: 0;
}

@keyframes spin {
  25% {
    transform: rotate3d();
  }
}  */
